<% include header %>

<div class="container">
  <h1>Results for <strong>"<%= query %>"</strong></h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="10%">#</th>
        <th width="60%">Document</th>
        <th width="30%">Relevance</th>
      </tr>
      </thead>
      <tbody>
      <% for(var i=0; i< Math.min(10, docs.length); i++) {%>
      <% var pathArray = docs[i][0].split("/") %>
      <% var name = pathArray[pathArray.length-1] %>
      <% var percent = docs[i][1] * 100 %>
      <% percent = Number((percent).toFixed(3)) %>
      <tr>
        <td><%= i+1 %></td>
        <td><a class="detail" value="<%= docs[i][0] %>" ><%= name %></a></td>
        <td><%= percent %> % </td>
      </tr>
      <% } %>
      </tbody>
    </table>
  </div>
  <div id="target">
  </div>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

<script>
  $(document).ready(function(){
    $('.detail').on('click', function(){
      var docname = $(this).attr('value');
      console.log('onclick is working.');
      detailDoc(docname); //Your function
    });
  });

  function detailDoc(docname){
    console.log("var docname "+docname);
    $.ajax({
      url: '/doc',
      timeout:30000,
      method: 'POST',
      data: {'doc': docname},
      success: function(docs) {
        var pathArray = docname.split("/");
        var name = pathArray[pathArray.length-1];
        var html = '';
        html += '<hr>';
        html += '<h2>Related documents for <strong>"'+ name +'"</strong></h2>';
        html += '<div class="table-responsive">';
        html += '<table class="table table-striped">';
        html += '<thead>';
        html += '<tr>';
        html += '<th width="10%">#</th>';
        html += '<th width="60%">Document</th>';
        html += '<th width="30%">Similarity</th>';
        html += '</tr>';
        html += '</thead>';
        html += '<tbody>';
        for (var i = 0; i< Math.min(10, docs.length); i++) {
          var pathArray = docs[i][0].split("/");
          var name = pathArray[pathArray.length-1]
          html += '<tr>';
          html += '<td>' + (i+1) + '</td>';
          html += '<td>' + name + '</td>';
          html += '<td>' + docs[i][1] * 100 + ' % </td>';
          html += '</tr>';
        }
        html += '</tbody>';
        html += '</table>';
        html += '</div>';
        $('#target').html(html);
      },
      error: function(error)
      {
        console.log(error);
      }
    });
  }
</script>

<% include footer %>
